<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Crime Classification</title>
</head>
<body>
    <div class="header">
        <img src="../static/img/detective.png">
        <h1>OFFENCE TRACKER</h1>
        <ul>
            <span class="spacing"><li><h2><a href="#">Home</a></h2></li>
            <li><h2><a href="predict.html">Predict</a></h2></li></span>
        </ul>
    </div><br>
    <div class="content">
        <span>
            <img src="../static/img/slider-bg.jpg" class="image">
        </span>
        <span>
            <h1 class="heading1">Crime Vision: Crime Classification</h1><br>
            <h1 class="heading2"> with Deep Learning</h1>
        </span>
        <span>
            <p>
                <h2 class="content1">Crime Classification is  the process of  categorizing  the <br> criminal offenses into different types or classes
                based on their <br> nature, severity, and other characteristics. The classification of <br> crimes helps the law enforcement
                agencies and criminal justice <br> system to better understand and manage criminal activity, to allocate the 
                resources efficiently, and to develop appropriate responses to different types of criminal behavior. By using
                deep Learning, it is possible to analyse the images and video footage of crime scene or incidents and classify
                different  types of crime based on the type of activity depicted in the images. This can be useful in a variety
                of criminal justice and law enforcement contexts, including crime scene investigation, forensic analysis, and 
                surveillance. Deep learning algorithms can be trained to recognize patterns and features in images and video that
                are relevant to identifying different types of crimes.</h2></p>
        </span>
        
    </div>
</body>
</html>